body {
  font: 25px helvetica neue, helvetica, arial, sans-serif;
  padding: 10px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

#wrapper {
  height: 90%;
  width: 85%;
  position: absolute;
}

#center {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

#info_box {
  position: relative;
  height: 220px;
  width: 100%;
}

#cy {
  position: relative;
  height: calc(100% - 220px);
  width: 100%;
}

#description {
  font-size: 15px;
  width: 100%;
}

#errorMsg {
  margin-top: 15px;
  position: absolute;
  color: #DD1C1A;
  font-weight: bold;
}

#successMsg {
  margin-top: 15px;
  position: absolute;
  color: #06AED5;
  font-weight: bold;
}

.tt {
  color: #06AED5;
}
